:host {
  --color-player-1: blue;
  --color-player-2: red;

  display: block;
  // background-color: #236167;
  height: 100%;
  width: 100%;
  // color: white;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   height: 30%;
  //   width: 100%;
  //   background-color: #2C8437;
  // }


  // .header {
  //   #C38D94
  // }

  .game {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-between;
    justify-content: space-between;


    .player {
      display: flex;
      align-items: center;
      padding: 15px;
      gap: 5px;

      .ring {
        &::after {
          content: attr(data-number);
        }
      }
    }

    .board {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .rings {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 0 0 calc(33.3333% - 2px);
        border: 1px solid white;
        padding: 30px 0;

        &::after {
          content: attr(data-max);
          position: absolute;
        }


        &.dropable {
          background-color: rgba(0, 0, 0, 0.034);
        }

        &:nth-child(3n) {
          border-left: 1px solid grey;
        }

        &:nth-child(3n + 1) {
          border-right: 1px solid grey;
        }

        &:nth-child(n + 4) {
          border-top: 1px solid grey;
        }

        .ring {
          position: absolute;
        }
      }
    }

    .ring {
      border: 2px solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.draggable {
        cursor: grab;
      }

      &:hover::after {
        content: attr(data-number);
      }

      @for $i from 1 through 100 {
        &[data-number='#{$i}'] {
          width: ($i*6) + px;
          height: ($i*6) + px;
        }
      }

      &[data-player='1'] {
        border-color: var(--color-player-1);
      }

      &[data-player='2'] {
        border-color: var(--color-player-2);
      }
    }
  }

}